<nav class="nav-extended">
    <div class="nav-wrapper">
      
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a  routerLink="enderecos"href="#test1">Endereço</a></li>
        <li class="tab"><a routerLink="lojas" class="active" href="#test2">Loja</a></li>
        <li class="tab"><a routerLink="listEnderecos" class="active" href="#test3">Lista de Endereços</a></li>
        <li class="tab"><a routerLink="listLojas"class="active" href="#test4">Lista de Lojas</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
